window {
    background-color: rgba(67, 76, 94, 0.95);
    border-color: rgba(59, 66, 82, 0.3);
    border-width: 2px;
    border-radius: 10px;
    padding: 5px;
}

entry {
    background-color: rgba(236, 239, 244, 1.0);
    color: rgba(46, 52, 64, 1.0);
}

listview {
    background-color: rgba(34, 46, 64, 0.5);
    border-color: rgba(136, 192, 208, 1.0);
    border-radius: 10px;
    scrollbar: none;
}

element.normal {
    background-color: rgba(46, 52, 64, 1.0);
    color: rgba(216, 222, 233, 1.0);
}

element.selected {
    background-color: rgba(76, 86, 106, 1.0);
    color: rgba(236, 239, 244, 1.0);
    border-color: rgba(163, 190, 140, 0.8);
    border-width: 2px;
}

element.urgent {
    background-color: rgba(59, 66, 82, 0.0);
    color: rgba(191, 97, 106, 1.0);
}

element.active {
    background-color: rgba(59, 66, 82, 0.0);
    color: rgba(163, 190, 140, 1.0);
}

message {
    background-color: rgba(229, 233, 240, 0.5);
    color: rgba(76, 86, 106, 1.0);
    border-color: rgba(76, 86, 106, 1.0);
    border-width: 2px;
    border-radius: 5px;
    padding: 4px;
}

